{% layout 'layout.liquid'%}

{% block content %}
    <h2>Recipe</h2>
    <div class="container">
        <div class="row">
    <div class="col-8 display-2 fw-bold"><p>{{ recipe.name }}</p></div>
        </div>
        
            <div class=" col-4 display-4"><p>Description: </p></div>
            <div class="col-12 display-6"><p>{{ recipe.description }}</p></div>
            <div class="col-4 display-4"><p>Ingredients: </p></div>
            <div class="col-12 display-6"><p>{{ recipe.ingredients }}</p></div>
            <div class="col-9"><img src="{{ recipe.image }}" alt="Recipe image"></div>
        </div>
    </br>
    <div class="row">
        {% if recipes.owner == usersId %}
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <a href="/recipe/{{ recipe._id }}/edit"><button type="button" class="btn btn-outline-primary">edit</button></a>
            <form action="/recipe/{{ recipe._id }}?_method=DELETE" method="POST">
                <input class="btn btn-outline-primary" type="submit" value="delete">
            </form>
            
        </div>
        {% endif %}
    </br>
        <div class="col-md-6">
            <form action="/comments/{{recipe.id}}" method="POST">
                <fieldset>
                    <legend>Add Comment</legend>
                    <label class="form-label">Comment: </label>
                    <input type="text" class="form-control" name="note" placeholder="enter comment here...">
                </fieldset>
            </br>
                <input type="submit" class="btn btn-success" value="Add Comment">
            </form>
        </br>
        <h3>Comments</h3>
        {% if recipe.comments.length > 0%}
        <!-- here we'll add our comment container -->
        <div class="container-sm justify-content-center">
            <div class="col-md-8 col-lg-6">
                <!-- here we need to loop over the comments -->
                <!-- for every comment render a comment.liquid block -->
                {% for comment in recipe.comments %}
                    {% render './users/comment.liquid', comment: comment, userId: userId, recipe: recipe %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
        </div>


       
        </div>
        
    </div>
{% endblock %}
